{
	"presets": [
		[
			"env",
			{
				"targets": {
					"node": true
				}
			}
		],
		"es2015"
	],
	"plugins": ["dynamic-import-node", "transform-object-rest-spread"],
	"env": {
		"production": {
			"presets": ["minify"],
			"comments": false
		}
	}
}
